.elements__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 282px;
  background-color: #C4C4C4;
  font-size: 18px;
}

.elements__image:hover {
cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .elements__image {
    height: 345px;
  }
}

@media screen and (max-width: 768px) {
  .elements__image {
    height: 295px;
  }
}

@media screen and (max-width: 584px) {
  .elements__image {
    height: 282px;
  }
}
