.profile__add-button {
  padding: 0;
  border: none;
  align-self: center;
  min-width: 150px;
  height: 50px;
  background: url('../../../images/Add_Button.svg') no-repeat center;
  transition: opacity .4s;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 620px) {
  .profile__add-button {
    min-width: 100%;
    background: url('../../../images/Add_Button-big.svg') no-repeat center;
  }
}
