.elements__text {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding-left: 20px;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1360px) {
  .elements__text {
    max-width: 280px;
    font-size: 28px;
    line-height: 32px;
    padding-left: 23px;
  }
}
