@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__personal/profile__personal.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__delete-button/elements__delete-button.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__content/elements__content.css);
@import url(../blocks/elements/__text/elements__text.css);
@import url(../blocks/elements/__like-button/elements__like-button.css);
@import url(../blocks/elements/__like-button/_pressed/elements__like-button_pressed.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-element/popup__form-element.css);
@import url(../blocks/popup/__form-element/_type/popup__form-element_type_error.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);

@import url(../blocks/open-image-popup/open-image-popup.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-title/open-image-popup__title.css);
