.elements__like-button {
  margin-right: 20px;
  padding: 0;
  border: none;
  height: 19px;
  min-width: 22px;
  background: url('../../../images/like.svg') no-repeat center;
  transition: opacity .4s;
}

.elements__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
